.state-name-container {
  background-color: aqua;
}

.state-specific-details-route {
  background-color: #161625;
  min-height: 100vh;
}

.tested-count-container {
  display: flex;
  flex-direction: column;
}
