.state-name-container {
  background-color: aqua;
}

.state-specific-details-route {
  background-color: #161625;
  min-height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
}

.tested-count-container {
  display: flex;
  flex-direction: column;
}

.districts-heading {
  font-size: 30px;
  font-family: Roboto;
}

.districts-data-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
