.about-route-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #161625;
  padding-left: 80px;
  padding-top: 40px;
}

.about-description {
  font-weight: 500;
  font-size: 18px;
  color: #e2e8f0;
}

.last-update {
  font-size: 14px;
  color: #94a3b8;
}

.about-heading {
  font-weight: 500;
  font-size: 30px;
  color: #f8fafc;
}

.faq-list {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
